/**
 * @prettier
 */
:root {
  --yellow-color: #fccb4a;
  --dark-color: #333;
  --light-gray-color: #fafafa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  padding-left: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: var(--dark-color);
  background-color: var(--yellow-color);
}
hr {
  margin: 0 40px 25px;
  height: 1px;
  border: none;
  color: #6d7081;
  background-color: #6d7081;
}

/* ---------------
    Typography
  ---------------*/

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5em;
  text-transform: uppercase;
}
.section-subtitle {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.5em;
  list-style-type: none;
}
.english-level {
  font-size: 48px;
}
.italic {
  font-style: italic;
}
.hover-effect {
  background: linear-gradient(to bottom, #fccb4a 0%, #fccb4a 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}

.hover-effect:hover {
  color: #000;
  background-size: 4px 50px;
}
.main__full-name {
  font-size: 50px;
  font-weight: bold;
  line-height: 0.1em;
}
.main__job {
  font-size: 37px;
  font-weight: normal;
}

/* ---------------
      Structure
  --------------- */

.cv-page {
  max-width: 1250px;
  margin: 40px auto;
}
.cv-page__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cv-page__sidebar {
  width: 30%;
  min-width: 300px;
  background-color: var(--light-gray-color);
}

.cv-page__main {
  padding: 80px 50px 0;
  width: 70%;
  background-color: #fff;
}
.cv-page__footer {
  width: 100%;
}

/* ---------------
     Navigation
  --------------- */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray-color);
}
.nav__inner {
  list-style: none;
}
.nav__link {
  display: inline;
}

/* ---------------
      Sidebar
  --------------- */

.personal-photo {
  display: block;
  height: 200px;
  margin: 60px auto;
  border-radius: 999px;
}

.sidebar__section {
  margin-top: 40px;
}
.sidebar__section-title,
.sidebar__contact-item,
.english-level {
  margin-left: 40px;
}
.sidebar__contact-item {
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
}
.sidebar__skill-item {
  margin-left: 60px;
  line-height: 1.8em;
}

/* ---------------
      Main
  --------------- */

.main__section-subtitle {
  display: inline;
}
.main__section-icon {
  margin-left: -30px;
  margin-bottom: -5px;
}
.main hr {
  margin-left: 0;
  margin-right: 0;
}
.main__section {
  margin-top: 40px;
  line-height: 1.6em;
}
.main__education-list,
.main__education-sublist {
  margin: 20px;
}
.blockquote {
  margin-bottom: 20px;
  padding-left: 30px;
  background-color: var(--light-gray-color);
}
.border-left {
  border-left: var(--yellow-color) solid 10px;
}
.code {
  margin-bottom: 80px;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.3em;
  font-style: normal;
  background-color: #f0f0f0;
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.15);
}
.blockquote-title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}
.portfolio__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
  background-color: var(--light-gray-color);
  transition: box-shadow 0.5s ease;
}
.portfolio__item:hover {
  box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.link-wrapper {
  line-height: 0.8em;
}
.link-wrapper::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.portfolio__description {
  padding-right: 50px;
}
.portfolio__title {
  margin: 25px 0;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.5em;
  list-style-type: none;
}
.portfolio__img {
  width: 250px;
  height: 230px;
  object-fit: cover;
}
/* ---------------
      Footer
  --------------- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #e5e5e5;
}
.footer__logo {
  height: 40px;
}
