:root {
  --yellow-color: #fccb4a;
  --dark-color: #333;
  --light-gray-color: #fafafa;
  --font1: 50px;
  --font2: 37px;
  --font3: 25px;
  --font4: 19px;
  --font5: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  padding-left: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: var(--font4);
  font-weight: 400;
  color: var(--dark-color);
  background-color: var(--yellow-color);
}
hr {
  margin: 0 40px 25px;
  height: 1px;
  border: none;
  color: #6d7081;
  background-color: #6d7081;
}

/* ---------------
    Typography
  ---------------*/

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font3);
  font-weight: 500;
  line-height: 1.5em;
  text-transform: uppercase;
}
.section-subtitle {
  font-size: var(--font4);
  font-weight: bold;
  line-height: 1.5em;
  list-style-type: none;
}
.italic {
  font-style: italic;
}
.hover-effect {
  background: linear-gradient(to bottom, #fccb4a 0%, #fccb4a 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}
.hover-effect:hover {
  color: #000;
  background-size: 4px 50px;
}
.header__full-name {
  margin: 28px 0;
  font-size: var(--font1);
  font-weight: bold;
  line-height: 0.1em;
}
.header__job {
  font-size: var(--font2);
  font-weight: normal;
}
.english-level {
  font-size: var(--font1);
}
.blockquote {
  font-size: var(--font4);
  padding: 10px 20px;
}
.blockquote-title {
  font-size: var(--font4);
  font-weight: bold;
  font-style: normal;
}

/* ---------------
      Structure
  --------------- */

.cv-page {
  max-width: 1250px;
  margin: 40px auto;
  padding: 0 35px;
}
.cv-page__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cv-page__sidebar {
  min-width: 300px;
  background-color: var(--light-gray-color);
}

.cv-page__main {
  padding: 80px 50px 0;
  background-color: #fff;
}
.header {
  margin: 0 auto;
}
.cv-page__footer {
  width: 100%;
}

/* ---------------
     Navigation
  --------------- */

.nav__link {
  display: inline;
  padding: 0 10px;
  text-transform: uppercase;
}
.navbar-nav {
  width: 100%;
}

/* ---------------
      Sidebar
  --------------- */

.personal-photo {
  display: block;
  height: 200px;
  margin: 60px auto;
  border-radius: 999px;
}
.sidebar__section {
  margin-top: 40px;
}
.sidebar__section-title,
.sidebar__contact-item,
.english-level {
  margin-left: 40px;
}
.sidebar__contact-item {
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
}
.sidebar__skill-item {
  margin-left: 60px;
  line-height: 1.8em;
}

/* ---------------
       Main
  --------------- */

.main__section-subtitle {
  display: inline;
}
.main__section-icon {
  margin-left: -30px;
  margin-bottom: -5px;
}
.main hr {
  margin-left: 0;
  margin-right: 0;
}
.main__section {
  margin-top: 40px;
  line-height: 1.6em;
}
.main__education-list,
.main__education-sublist {
  margin: 20px;
}
.blockquote {
  margin-bottom: 20px;
  padding-left: 30px;
  background-color: var(--light-gray-color);
}
.border-left_yellow {
  border-left: var(--yellow-color) solid 10px;
}
.code {
  margin-bottom: 80px;
  font-family: monospace;
  font-size: var(--font4);
  line-height: 1.3em;
  font-style: normal;
  background-color: #f0f0f0;
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.15);
}
.portfolio__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
  background-color: var(--light-gray-color);
  transition: box-shadow 0.5s ease;
}
.portfolio__item:hover {
  box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.link-wrapper {
  line-height: 0.8em;
}
.link-wrapper::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.portfolio__description {
  padding-right: 50px;
}
.portfolio__title {
  margin: 25px 0;
  font-size: var(--font4);
  font-weight: bold;
  line-height: 1.5em;
  list-style-type: none;
}
.portfolio__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
/* ---------------
      Card
  --------------- */

.card {
  margin: 20px auto;
  width: 80%;
  height: auto;
}
.card__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card__image{
  width: 100%;
  transition: 0.5s;
}
.card:hover .card__inner img {
  opacity: 0.5;
  transform: translateX(100%);
}
.card__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--yellow-color);
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .card__details {
  transform: perspective(2000px) rotateY(0deg);
}
.card__center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card__title {
  display: inline;
  padding: 3px;
  font-size: var(--font3);
  font-weight: bold;
  line-height: 2em;
  list-style-type: none;
}
.card__text{
  color: #000;
  text-decoration: none;
}

/* ---------------
      Footer
  --------------- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #e5e5e5;
}
.footer__logo {
  height: 40px;
}

/* ---------------
      Media
  --------------- */

@media (max-width: 1200px) {
  :root {
    --font1: 43px;
    --font2: 27px;
    --font3: 19px;
    --font4: 17px;
    --font5: 14px;
  }
}
@media (max-width: 991px) {
  .cv-page__main {
    padding: 10px 50px 0;
  }
  :root {
    --font1: 47px;
    --font2: 30px;
  }
}
@media (max-width: 768px) {
  :root {
    --font1: 40px;
    --font2: 25px;
    --font3: 19px;
    --font4: 17px;
    --font5: 13px;
  }
  .portfolio__text{
    font-size: var(--font5);
  }
}
@media (max-width: 650px) {
  :root {
    --font1: 35px;
    --font2: 22px;
    --font4: 17px;
    --font5: 13px;
  }
  .portfolio__img {
    height: 220px;
    width: 220px;
  }
  .portfolio__description {
    padding-right: 20px;
    line-height: 1.1em;
  }
  .portfolio__title {
    margin: 10px 0;
    line-height: 1.5em;
  }
}
@media (max-width: 560px) {
  :root {
    --font1: 35px;
    --font2: 22px;
    --font3: 17px;
    --font4: 14px;
    --font5: 11px;
  }
  .personal-photo {
    margin-bottom: 30px;
    height: 180px;
  }
  .portfolio__description {
    padding-right: 15px;
  }
  .card__title {
    margin: 10px 0;
    font-size: var(--font4);
  }
  .card__text {
    font-size: var(--font5);
  }
  .footer__logo{
    height: 30px;
  }
}

@media (max-width: 400px) {
  :root {
    --font1: 28px;
    --font2: 20px;
    --font3: 15px;
    --font4: 12px;
    --font5: 9px;
  }
  .card__center {
    padding: 10px;
  }
  .cv-page {
    margin: 0;
    padding: 0 15px;
  }
}
